* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 200vh;
}

body::before, body::after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: away;
  animation-duration: 1.2s;
  transform-origin: right;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(0.645, 0.045, 0.355, 1);
}

body::before{
  background: #4D77FF;
  animation-delay: 0.3s;
  z-index: 1;
}

body::after{
  background: #40DFEF ;
  z-index: 2;
}


.foto {
  width: 100%;
  height: 100vh;
  background: #ede6db;
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}


.mert {
  font-size: 7rem;
}

.logos {
  margin-top: 5rem;
}

.logos > img {
  width: 7rem;
  height: 7rem;
}

header h1 {
  margin-top: 10rem;
  padding-left: 2rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1rem;
}

li{
  position: relative;
  font-size: 1.5rem;
}

ul > li> a::after{
  content: '';
  height: 0.3rem;
  width: 100%;
  background: #413f42;
  position: absolute;
  left: 0;
  top: 1.5rem;
  transition: 0.5s;
  transform: scaleX(0);
  
  }


ul > li > a:hover:after{
  transform: scaleX(1);
}

nav img {
  width: 10rem;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}


nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 3rem;
}
nav ul li a {
  text-decoration: none;
  color: #413f42;
}
.text-box {
  display: flex;
  align-items: center;
}

.text-box h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  color: #413f42;
}
.text-box a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #413f42;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  margin-top: 5rem;
  border-radius: 0.6rem;
}

/* Image size veranderen via hier */

.text-box img {
  width: 70rem;
  height: 70rem;
  margin-bottom: 25rem;
}

.user-box {
  background: #d9e0ff;
  position: absolute;
  top: 0;
  right: 12%;
  width: 35rem;
  height: 50rem;
}

.mert-box {
  height: 40rem;
  width: 40rem;
  background: #d9e0ff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mert-box > h2 {
  font-size: 4rem;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  flex-direction: column;
  font-size: 6rem;
  gap: 4.5rem;
  height: 10rem;
  min-height: 60rem;
}

.me > p {
  font-size: 4rem;
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  flex-direction: row;
}

.about1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18rem;
  gap: 2rem;
  transition: 0.2s transform;
  border-radius: 2rem;
  margin-bottom: 10rem;
}

.about1:hover {
  transform: scale(1.05);
}

.spraak {
  margin-top: 5rem;
  font-size: 2.5rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: monospace;
}

.spraak_img{
  border-radius: 50%;
}

.hide {
  display: none;
}
#result {
  margin-top: 2em;
  background: #EF476F;
  border-radius: 10px;
  padding: 2rem;
  color: #fff;
}
button {
  padding: 0.75rem;
  margin-top: 2rem;
  border-radius: 10px;
  background: #06D6A0;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 2.5rem;
  
}

.p {
  width: 20rem;
  height: 20rem;
}


.font{
  font-size: 1.4rem;
  width: 20rem;
}

.filter_h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.inputs > div{
  display: flex;
  align-items: center;
  width: 40rem;
}

.filters{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:4rem;
  margin-bottom: 4rem;
}

.filters > div{
  display:flex;
  align-items: center;
  justify-content: center;
}

.filter{
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  -webkit-appearance: none;
  appearance: none;
  background: #40DFEF ;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  
}


.filter:checked{
  background: #4D77FF;
}

.filter:checked ~ .label{
  text-decoration: underline;
}
.label:hover{
  cursor: pointer;
}
.filter:hover{
  cursor: pointer;

}


.projecten {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  font-size: 9rem;
}

.box {
  flex-grow: 1;
  width:30rem;
  height:30rem;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top{
  width: 5rem;
  height: 5rem;
  background-color: #222831;
  border: none;
  font-size: 150%;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0.5rem;
  color: white;
  position: fixed;
  bottom: 7.5rem;
  right: 7.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label{
  font-size: 2rem;
}

.skills > div{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 8rem;
}

.skills > h2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  font-size: 9rem;
  margin-top: 8rem;

}

.card{
  height: 50rem;
  width: 40rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
  background: #eee;
}

.card::before{
  content: "" ;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#EB5353, #FFD24C, #3BACB6, #F73D93);
  filter: blur(10rem);
  z-index: -1;
  animation-name:rainbow ;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.card_figure{
  width: 100%;
  height: 30%;
}

.card_figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

}

.card_body{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.card_categories{
  display: flex;
  gap: 0.7rem;

}

.card_category{
  list-style: none;
  color: white;
  font-size: 70%;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  
}


.card_p{
  font-size: 80%;
  font-weight: 500;
}

.card_category--controller{
  background: #3BACB6;
}

.card_category--ps4{
  background: #EB5353;
}

.card_category--ps5{
  background: #F73D93;
}

.card_footer{
  height: 20%;
  width: 100%;
  display: flex;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}

.card_pf{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.card_footer h3{
  font-size: 90%;
  font-weight: 300;

}

.card_footer p{
  font-size: 70%;
  font-weight: 300;

}

@keyframes rainbow {
  from{
      filter: blur(10rem);
  }
  to{
      filter: blur(0.5rem);
  }
  
}

@keyframes away {
  from{
      transform: scaleX(1);
  }
  to{
      transform: scaleX(0);
  }
  
}

@keyframes popup {
  from{
      opacity: 0;
  }
  to{
      opacity:1;
  }
  
}